<table  data-turbolinks="false" class="table table-striped table-bordered display responsive no-wrap cal" style="width:100%">
	<thead>
		<td>Rowid</td>
		<td>To</td>
		<td>Sent</td>
		<td>Delivered</td>
		<td>Bounced</td>
		<td>Clicked</td>
		<td>Opened</td>
	</thead>
	<tbody></tbody>
	<tfoot></tfoot>
</table>

