<div class='pagec' style='height:100vh'>
<%=form_tag change_index2_path,method: 'post' do%>
<%=label_tag :page_name , "ENTER PAGE NAME TO BE MADE INDEX"%><br>
<%=text_field_tag :page_name %><br>
<%=submit_tag%>
<%end%>
</div>
