<div id="meh" style="background-color: #ffffff00;min-height:100vh;padding:4%;">
  <div style="padding: 4%; background-color: white;border-radius:5px">
  <div style="display: flex;
    justify-content: flex-end;
    ">
<div style="
    border-radius: 8px !important;
    
    width: 16vw !important;
    padding:6px;
    background-color: #b8b7bd !important;">
  <a href="<%=emailcenter_path%>" style="text-decoration: none;font-size: 15px !important;
    font-weight: 800 !important;display: flex !important;justify-content: center !important;
    align-items: center !important; color:black;">  <p style='margin-right: 10px;    margin-bottom: 0;'>Make New Request</p><i class="fas fa-plus-circle"></i></a></div></div>
    <br>
<table id="userview" ata-turbolinks="false" class="table table-striped table-bordered display responsive no-wrap" style="width: 90%">
<thead>
	<td>Row Id</td>
	<td>Campaign Id</td>
	<td>From</td>
	<td>Email Count</td>
	<td>Request Date</td>
	<td>Status</td>
	<td>Details</td>
</thead>
<tbody></tbody>
<tfoot>
  <tr>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
</tr>
</tfoot>
</table>
</div>
</div>
<script>
	$(document).ready(function(){
		var table=	$('#userview').DataTable( {
        "processing": true,
        "serverSide": true,
        "responsive": true,
         "select": true,
        "ajax": "<%=@basel%>/api/v1/user/email/u/<%=@current_user_id%>",
   "columns": [
            { "data": "DT_RowId" },
            { "data": "id" },
            { "data": "from" },
            { "data": "count" },
            { "data": "rdate" },
            { "data": "status" },
         {"data": "details"}
            
        ],
             "columnDefs": [
               {
   'targets': 0,
   'visible':false, 
   'searchable':false,
   
           

}, {
   'targets': 6,
   'searchable':false,
   'orderable':false
            
},

	 
            
        ],
        'order': [[1, 'asc']],
        initComplete: function () {
  console.log('it');
            this.api().columns([5]).every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                           var val = $(this).val();
                           console.log(val);
                    column.search(this.value).draw();
                } );
  console.log(column.data().unique());
                    

 select.append( '<option value="processing">processing</option>' )
 select.append( '<option value="approved">approved</option>' )
 select.append( '<option value="declined">declined</option>' )
                
            } );

    this.api().columns([4]).every( function () {
        var column1 = this;
var select1= '<div id="fromto"><input type="text" id="from" placeholder="from" autocomplete="off"><input type="text" id="to" placeholder="to" autocomplete="off"></div>';
$(select1).appendTo($(column1.footer()).empty());
 $('#from').on('change',function(){
console.log('a');
  column1.search("F"+$('#from')[0].value+"T"+$('#to')[0].value).draw();
 });
    
 $('#to').on('change',function(){
console.log('a');
  column1.search("F"+$('#from')[0].value+"T"+$('#to')[0].value).draw();
 });
    });
  document.addEventListener("turbolinks:before-cache", function() {
  if (table !== null) {
   table.destroy();
   table = null;
  }
});
   $( function() {
    var dateFormat = "yy-mm-dd",
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1,
          dateFormat: dateFormat
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1,
          dateFormat: dateFormat
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );
        }   
  });
	});

	</script>