/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 *= require_self
 *= require font-awesome
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= plugins/char_counter.min.css
 *= plugins/code_view.min.css
 *= plugins/colors.min.css
*= plugins/emoticons.min.css
*= plugins/file.min.css
*= plugins/fullscreen.min.css
*= plugins/help.min.css
*= plugins/image_manager.min.css
*= plugins/image.min.css
*= plugins/line_breaker.min.css
*= plugins/quick_insert.min.css
*= plugins/special_characters.min.css
*= plugins/table.min.css
*= plugins/video.min.css

*= third_party/embedly.min.css
*= third_party/image_tui.min.css
*= third_party/spell_checker.min.css
 *= require_tree .
 */
 #icon{
 	width: 7vw;
    height: 14vh;
 }
 #header1{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #73a9bb;
    box-shadow: 0px -9px 55px 62px #73a9bb;


 }

 #header{
list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    width:60vw;
    padding: 0;}

#header2{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    width:30vw;
    padding: 0;	
    }

.font130{
    font-size: 130%;

}
.dropdown-menu.show{
  
        background-color: #006699;
}

   
.login{
        display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
#header1a{
display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #73a9bb;
    box-shadow: 0px -9px 55px 62px #73a9bb;
}
#header2a{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    width:20vw;
    padding: 0; 
}
#dropdownMenuButton{
         border: none;
    background-color: #73a9bb;
}
.black{
    color: black;
}

#header1 a:active {
    color: white !important;
    text-decoration: none !important;
}
#header1 a:link {
color: white !important;
    text-decoration: none !important;
}
#header1 a:visited {
color: white !important;
    text-decoration: none !important;
}
#header1 a:hover {
    color: white !important;
    text-decoration: none !important;
}
#header1a a:active {
    color: white !important;
    text-decoration: none !important;
}
#header1a a:link {
color: white !important;
    text-decoration: none !important;
}
#header1a a:visited {
color: white !important;
    text-decoration: none !important;
}
#header1a a:hover {
    color: white !important;
    text-decoration: none !important;
}
#top a{
    color: white;
    text-decoration: none;
}
#transplogin1 :hover{
color:red;
}
#ll5{
      position: relative;
    left: 8%;
    top: 26%;

}
#pddownm{
  /*display: none;*/
   position: absolute;
   overflow: hidden;
    background-color: #0000006b;
    width: 20vw;
    max-height: 0vh;
    right: 0;
    /* left: 776px; */
   
    top: 0;
    transition: max-height 0.4s ease-out;
}
#pddownm li{
  margin-top:6px;
  text-align: center;
  margin-bottom: 3px;
}
#transplogin1{
  height: 82px;
    background-color: #fffefe42;
    width: 200px;
    border-radius: 50%;
    margin-left: 40vw;
}
#loginhomeb1{
      font-family: 'Open Sans';
    font-size: x-large;
    text-align: center;
    padding-top: 25px;
    cursor: pointer;
}
.pheader{
     color: #72879b;
    border-bottom: 2px solid #E6E9ED;
        padding-bottom: 10px;
}

.linkpg a:active {
    color:#969dab !important;
    text-decoration: none !important;
}
.linkpg a:link {
color: #969dab !important;
    text-decoration: none !important;
}
.linkpg a:visited {
color: #969dab !important;
    text-decoration: none !important;
}
.linkpg a:hover {
    color: #969dab !important;
    text-decoration: none !important;
    
}
.login1{
   background-color:  #F7F7F7
}
.trash{
        display: inline;
}
#ico{
    display: flex;
    justify-content: flex-end;
}
.marg{
margin-left: 10px;
margin-right:10px;
}
table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  /*
   * Header and footer styles
   */
  /*
   * Body styles
   */ }
 
table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  /*
   * Header and footer styles
   */
  /*
   * Body styles
   */ }
  table.dataTable thead th,
  table.dataTable tfoot th {
    font-weight: bold; }
  table.dataTable thead th,
  table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #111111; }
    table.dataTable thead th:active,
    table.dataTable thead td:active {
      outline: none; }
  table.dataTable tfoot th,
  table.dataTable tfoot td {
    padding: 10px 18px 6px 18px;
    border-top: 1px solid #111111; }
  table.dataTable thead .sorting,
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_desc,
  table.dataTable thead .sorting_asc_disabled,
  table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
    background-repeat: no-repeat;
    background-position: center right; }

  table.dataTable tbody tr {
    background-color: white; }
    table.dataTable tbody tr.selected {
      background-color: #b0bed9; }
  table.dataTable tbody th,
  table.dataTable tbody td {
    padding: 8px 10px; }
  table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: 1px solid #dddddd; }
  table.dataTable.row-border tbody tr:first-child th,
  table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th,
  table.dataTable.display tbody tr:first-child td {
    border-top: none; }
  table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd; }
  table.dataTable.cell-border tbody tr th:first-child,
  table.dataTable.cell-border tbody tr td:first-child {
    border-left: 1px solid #dddddd; }
  table.dataTable.cell-border tbody tr:first-child th,
  table.dataTable.cell-border tbody tr:first-child td {
    border-top: none; }
  table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #f9f9f9; }
    table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
      background-color: #abb9d3; }
  table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: whitesmoke; }
    table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
      background-color: #a9b7d1; }
  table.dataTable.order-column tbody tr > .sorting_1,
  table.dataTable.order-column tbody tr > .sorting_2,
  table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
  table.dataTable.display tbody tr > .sorting_2,
  table.dataTable.display tbody tr > .sorting_3 {
    background-color: #f9f9f9; }
  table.dataTable.order-column tbody tr.selected > .sorting_1,
  table.dataTable.order-column tbody tr.selected > .sorting_2,
  table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1,
  table.dataTable.display tbody tr.selected > .sorting_2,
  table.dataTable.display tbody tr.selected > .sorting_3 {
    background-color: #acbad4; }
  table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #f1f1f1; }
  table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
    background-color: #f3f3f3; }
  table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
    background-color: whitesmoke; }
  table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
    background-color: #a6b3cd; }
  table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
    background-color: #a7b5ce; }
  table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
    background-color: #a9b6d0; }
  table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: #f9f9f9; }
  table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
    background-color: #fbfbfb; }
  table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
    background-color: #fdfdfd; }
  table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
    background-color: #acbad4; }
  table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
    background-color: #adbbd6; }
  table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
    background-color: #afbdd8; }
  table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
    background-color: #eaeaea; }
  table.dataTable.display tbody tr:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
    background-color: #ebebeb; }
  table.dataTable.display tbody tr:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
    background-color: #eeeeee; }
  table.dataTable.display tbody tr:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
    background-color: #a1aec7; }
  table.dataTable.display tbody tr:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
    background-color: #a2afc8; }
  table.dataTable.display tbody tr:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
    background-color: #a4b2cb; }
  table.dataTable.no-footer {
    border-bottom: 1px solid #111111; }
  table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: nowrap; }
  table.dataTable.compact thead th,
  table.dataTable.compact thead td {
    padding: 4px 17px 4px 4px; }
  table.dataTable.compact tfoot th,
  table.dataTable.compact tfoot td {
    padding: 4px; }
  table.dataTable.compact tbody th,
  table.dataTable.compact tbody td {
    padding: 4px; }
  table.dataTable th.dt-left,
  table.dataTable td.dt-left {
    text-align: left; }
  table.dataTable th.dt-center,
  table.dataTable td.dt-center,
  table.dataTable td.dataTables_empty {
    text-align: center; }
  table.dataTable th.dt-right,
  table.dataTable td.dt-right {
    text-align: right; }
  table.dataTable th.dt-justify,
  table.dataTable td.dt-justify {
    text-align: justify; }
  table.dataTable th.dt-nowrap,
  table.dataTable td.dt-nowrap {
    white-space: nowrap; }
  table.dataTable thead th.dt-head-left,
  table.dataTable thead td.dt-head-left,
  table.dataTable tfoot th.dt-head-left,
  table.dataTable tfoot td.dt-head-left {
    text-align: left; }
  table.dataTable thead th.dt-head-center,
  table.dataTable thead td.dt-head-center,
  table.dataTable tfoot th.dt-head-center,
  table.dataTable tfoot td.dt-head-center {
    text-align: center; }
  table.dataTable thead th.dt-head-right,
  table.dataTable thead td.dt-head-right,
  table.dataTable tfoot th.dt-head-right,
  table.dataTable tfoot td.dt-head-right {
    text-align: right; }
  table.dataTable thead th.dt-head-justify,
  table.dataTable thead td.dt-head-justify,
  table.dataTable tfoot th.dt-head-justify,
  table.dataTable tfoot td.dt-head-justify {
    text-align: justify; }
  table.dataTable thead th.dt-head-nowrap,
  table.dataTable thead td.dt-head-nowrap,
  table.dataTable tfoot th.dt-head-nowrap,
  table.dataTable tfoot td.dt-head-nowrap {
    white-space: nowrap; }
  table.dataTable tbody th.dt-body-left,
  table.dataTable tbody td.dt-body-left {
    text-align: left; }
  table.dataTable tbody th.dt-body-center,
  table.dataTable tbody td.dt-body-center {
    text-align: center; }
  table.dataTable tbody th.dt-body-right,
  table.dataTable tbody td.dt-body-right {
    text-align: right; }
  table.dataTable tbody th.dt-body-justify,
  table.dataTable tbody td.dt-body-justify {
    text-align: justify; }
  table.dataTable tbody th.dt-body-nowrap,
  table.dataTable tbody td.dt-body-nowrap {
    white-space: nowrap; }
 
table.dataTable,
table.dataTable th,
table.dataTable td {
  box-sizing: content-box; }
 
/*
 * Control feature layout
 */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1; }
  .dataTables_wrapper .dataTables_length {
    float: left; }
  .dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right; }
    .dataTables_wrapper .dataTables_filter input {
      margin-left: 0.5em; }
  .dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0.755em; }
  .dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em; }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
      box-sizing: border-box;
      display: inline-block;
      min-width: 1.5em;
      padding: 0.5em 1em;
      margin-left: 2px;
      text-align: center;
      text-decoration: none !important;
      cursor: pointer;
      *cursor: hand;
      color: #7f91a4 !important;
      border: 1px solid transparent;
      border-radius: 2px; }
      .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        color: #7f91a4 !important;
        border: 1px solid #979797;
        background-color: white;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, gainsboro));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, white 0%, gainsboro 100%);
        /* Chrome10+,Safari5.1+ */
        background: -moz-linear-gradient(top, white 0%, gainsboro 100%);
        /* FF3.6+ */
        background: -ms-linear-gradient(top, white 0%, gainsboro 100%);
        /* IE10+ */
        background: -o-linear-gradient(top, white 0%, gainsboro 100%);
        /* Opera 11.10+ */
        background: linear-gradient(to bottom, white 0%, gainsboro 100%);
        /* W3C */ }
      .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
        cursor: default;
        color: #666 !important;
        border: 1px solid transparent;
        background: transparent;
        box-shadow: none; }
      .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: white !important;
        border: 1px solid #7f91a4;
        background-color: #d2d9df;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d2d9df), color-stop(100%, #7f91a4));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #d2d9df 0%, #7f91a4 100%);
        /* Chrome10+,Safari5.1+ */
        background: -moz-linear-gradient(top, #d2d9df 0%, #7f91a4 100%);
        /* FF3.6+ */
        background: -ms-linear-gradient(top, #d2d9df 0%, #7f91a4 100%);
        /* IE10+ */
        background: -o-linear-gradient(top, #d2d9df 0%, #7f91a4 100%);
        /* Opera 11.10+ */
        background: linear-gradient(to bottom, #d2d9df 0%, #7f91a4 100%);
        /* W3C */ }
      .dataTables_wrapper .dataTables_paginate .paginate_button:active {
        outline: none;
        background-color: #9dabb9;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dabb9), color-stop(100%, #798ca0));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #9dabb9 0%, #798ca0 100%);
        /* Chrome10+,Safari5.1+ */
        background: -moz-linear-gradient(top, #9dabb9 0%, #798ca0 100%);
        /* FF3.6+ */
        background: -ms-linear-gradient(top, #9dabb9 0%, #798ca0 100%);
        /* IE10+ */
        background: -o-linear-gradient(top, #9dabb9 0%, #798ca0 100%);
        /* Opera 11.10+ */
        background: linear-gradient(to bottom, #9dabb9 0%, #798ca0 100%);
        /* W3C */
        box-shadow: inset 0 0 3px #111; }
    .dataTables_wrapper .dataTables_paginate .ellipsis {
      padding: 0 1em; }
  .dataTables_wrapper .dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 40px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%); }
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter,
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_processing,
  .dataTables_wrapper .dataTables_paginate {
    color: #7f91a4; }
  .dataTables_wrapper .dataTables_scroll {
    clear: both; }
    .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
      *margin-top: -1px;
      -webkit-overflow-scrolling: touch; }
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
        vertical-align: middle; }
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing,
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing,
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing {
        height: 0;
        overflow: hidden;
        margin: 0 !important;
        padding: 0 !important; }
  .dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #111111; }
  .dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable,
  .dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
    border-bottom: none; }
  .dataTables_wrapper:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0; }
 
@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center; }
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em; } }
@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center; }
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em; } }

.headgrey{
    color:#708aa7;
    font-size: 88%;
}

.pagec{
  height:100%;
z-index: -1;
    margin-left:15vw;
       padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #f7f7f7;
overflow: hidden;
transition: width 0.2s ease-out;

}
#tbg tr td{
    color:#969dab;
    text-align: center;
    font-size: 80%;
}

#tbg tr td a{
    color:#969dab
}
.pagination > li > a, .pagination > li > span{background-color:#dddddd ; color:#6bb4d6;}
.pagination > li.active > a, .pagination > li.active > span{background-color:#dddddd ; color:#6bb4d6}
.pagination{
    background-color:#dddddd ;

}
.page-link{
    background-color:#dddddd !important ;
font-size:80%;
}
.paginate_button{
   
    height : 2.5 em;
}
.tablec{
        background-color: white;
    padding: padding;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
        border-style: solid;
    border-width: 1px;
    border-color: #e6e9ed;
}
.tablec a{
  color:#8e939d;
}
.stylet{
    font-size: 17px;
    color: #72889e;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e6e9ed;
        font-weight: 800;
            padding-bottom: 10px;
}
.tablec label{
    color:#8e939d;
}
div.dataTables_wrapper {
   font-size:13px;
}
.formcw{
    color: #6e94bc;
    font-size: 13px;
    font-weight: 800;
        display: flex;
    justify-content: space-between;
        
}
.formc{
        background-color: white;
    width: 70%;
    padding: 2%;
}
.metac{
        background-color: white;
    width: 25%;
        padding: 2%;
}

#backg{
  background: url('/assets/bg.jpg');
      height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
#navbara{
      width: 100%;
   background-color: #0000006b;
    /* position: fixed; */
  color:white;
    height: 10vh;
        padding-top: 2vh;
}
/*#navbarb{
  position: relative;
}*/
/*#navbarb ul{
height: 10vh;
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}*/
#navbarb ul li{
    padding-top: 2vh;

}
#lis2{
      display: flex;
          width: 60vw;
    justify-content: space-around;
}
#headingu{
    font-weight: bold;
    font-size: xx-large;
    margin-left: 10px;
    }
    #lis1{
      display: flex;
      width: 20vw;
      padding-left:10px;
    }

    #lis{
          list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    }

    #loginhomeb{
          font-family: 'Open Sans';
        font-size: x-large;
   text-align: center;
    padding-top: 11px;
    cursor: pointer;
    }
    #transplogin{
          height: 55px;
    background-color: #fffefe42;
    width: 122px;
    border-radius: 40%;
    margin-left: 44vw;

    }
    #transplogin :hover{
      color:red;
    }
    #ddownmu{
          position: absolute;
    top: 10vh;
    left:0;
z-index:1;
  max-height:0;
    width: 12vw;
    overflow: scroll;
    background-color: #0000006b;
    overflow-x: hidden;
    transition: max-height 0.4s ease-out;
    }
    #more3{
      cursor: pointer;
    }
    .pagec1{
      
  height: 100vh;
    margin: 4%;
    padding: 2%;
    border-style: solid;
    border-width: 1px;
    border-color: #e8e8e8;
    /* padding-right: 2%; */
    background-color: white;
    overflow: hidden;


}
#picp{
  width: 30px;
  border-radius: 50%;
}

#home3{
  background-image: url('/assets/bg0.jpg');
  height:70vh;
     background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
#pplans{
  display: flex;
    justify-content: space-around;
    padding:4%;
    background-color: white;
}
.pplans1{
      width: 20vw;
      margin: 2%;
      border-style: solid;
    border-width: 2px;
    border-color: #d5d6da;
    padding-top:4%;
        border-radius: 4%;
}
#lis a{
  text-decoration: none;  color: white;
}

.pplans1 p{
  text-align: center;
  font-size: 12px;
}
.pplans1 h3{
   text-align: center;
}
.pplans span{
  text-align: center;;
}

#bg1{
  background-image: url('/assets/bg1.jpg');
  height: 60vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#rtable th{
  text-align: center;
   color: #708AA7;
       width: 34px;
}
#rtable td{
  text-align: center;
      color: #969dab;
      font-size:80%;
}
#ico1{
      display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    margin-right: 10px;
}
#ico1 i{
  cursor: pointer;
  color: #708AA7;
  margin-right: 15px;
  margin-left: 15px;
}
#rtable i{
   color: #969dab;
}

#fromto{
  display:flex;
}
#fromto input{
  width:50%;
  background-color: #DDDDDD;
}

#emailcenter{
  padding: 6%;
}
#emailcenter1{
  padding: 4%;
    /* padding-bottom: 0; */
    background-color: white;
    color: #6e94bc;
    font-size: 13px;
    font-weight: 800;
    }

.picsub{
  width: 5%;
}
#graph1{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
}
#graph2{
  width: 100%;
}
/*slider{
max-height: 0;
transition: max-height 0.4s easeout
}*/
.topcard{
  height:100px;
  width:150px;
  background-color: #cecdcc;
  border-radius: 10px;
  cursor: pointer;
    
}
#cards{
display:flex;
flex-wrap: wrap;
justify-content: space-around;
margin-bottom: 40px;
    
}
#cards h2{
  font-size: 15px;
    font-weight: 800;
    color: #2b3f52;
        padding-top: 5%;
    text-align: center;
}
#cards i{
  padding-top:6px;
}
.minicards{
  display: flex;
    justify-content: space-around;
    font-size: 30px;

}
#maintable thead td{
  color: #708aa7;
    font-size: 88%;
    font-weight: 800;
}
#maintable tbody td{
      color: #969dab;
    text-align: center;
    font-size: 80%;
}
.cal{
  background-color: #dcdbea;
}

.cal thead td{
  color: #708aa7;
    font-size: 90% !important;
    font-weight: 800;
}
.cal tbody td {
   color: #969dab;
    text-align: center;
    font-size: 90% !important;
}
.slider{
  max-height: 0;
  transition: max-height 0.4s ease-out;
}

.filefield{
  visibility: hidden;
  width:0;
}
#b2{
  margin: 0;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 12px;
    color: #4c4c4c;
    font-weight: 800;
}

 .topcard1{
  
  background-color: #cecdcc;
  border-radius: 10px;
 padding:7%;
      height: 120px;
    width: 190px;
}
.topcard1 h2{
      text-align: center;
       font-size: 20px;
    color: #303542;
}
.topcard1 i{
   font-size: 42px;
    color: #303542;
}
.topcard1 p{
   font-size: 42px;
    color: #303542;
}
.notavailable{    background-color: #cacace;
    border-radius: 14px;}
    .notavailable h1{
          font-size: 20px;
    text-align: center;
    }
    #userview thead td{

font-weight: 800;
    }
    #userview td{
font-size: 12px;
text-align: center;
    }
    #pddownm{
          z-index: 1;
    }
    #userview i{
      color:black;
    }

    .udettable, th, td {
  border: 1px solid black;

}
.undettable th{
    padding:5px;
  text-align: center;
}
.undettable td{
  padding:5px;
  text-align: center;
}
.p12{
  margin:0;
  font-weight: 800;
}
.p121 ul{
  list-style: none;
  font-weight: 800;
  color:#7f91a4;
}
#minitable th{
  color:#708aa7;
}
#minitable td{
  color:#969dab;
}